<!DOCTYPE html>
<html>
<head>
    <title>TLV Parser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .tlv-container {
            font-family: "Courier New", Courier, monospace;
            white-space: pre;
        }
        .tlv-item {
            margin-left: 0;
        }

        td {
            padding: 15px;
            margin-left: 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/parse',
                    type: 'POST',
                    contentType: 'application/json',
                    data: $('#tlvData').val(),
                    success: function (result) {
                        let resultElement = document.getElementById('result');
                        displayTLVData(result, resultElement);
                    },
                    error: function (xhr, status, error) {
                        $('#error').text(xhr.responseText);
                        $('#result').text('');
                    }
                });
            });
        });

        function displayTLVData(tlvDataArray, container) {
            container.innerHTML = '';
            renderTLVTree(tlvDataArray, container);
        }

        function renderTLVTree(tlvDataArray, container) {
            const table = document.createElement('table');
            tlvDataArray.forEach(tlv => {
                const row = document.createElement('tr');
                row.className = `tlv-item`;

                let depth = 0;
                let parent = tlv.parent;
                while (parent) {
                    depth++;
                    parent = parent.parent;
                }

                row.innerHTML = formatTLV(tlv.tag.value, tlv.length, tlv.value);
                for (let i = 0; i < depth; i++) {
                    row.insertCell(0);
                }
                table.appendChild(row);
            });

            container.appendChild(table);
        }

        function formatTLV(tag, length, value) {
            return `<td>${tag}</td><td>${length}</td><td>${value}</td>`;
        }


    </script>
</head>
<body>
<h1>TLV Parser</h1>
<form>
    <label for="tlvData">TLV Data:</label><br>
    <textarea id="tlvData" name="tlvData" required></textarea><br>
    <input type="submit" value="Parse">
</form>
<div id="result" class="tlv-container"></div>
<p id="error"></p>
</body>
</html>
